<% include layout %>

<div class="main container text-xs-center">
  <h1 class="display-3">Collaborate & Commercialize</h1>
  <p class="lead">Connect with other developers & find co-founders</p>
  <a href="/register" class="btn btn-info-outline btn-lg">Sign Up Now!</a>
</div>


