<% include layout %>


<div class="main container clearfix">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <img src="/images/avatar.png" alt="avatar" class="avatar img-circle hidden-xs-down"/>
            <h1 class="display-4"> <%= name %></h1>
        <h2 class="favorite-book">Favorite topic: <%= favorite %></h2>
        </div>
    </div>
</div>



